@import "../styles/colors"
@import "../styles/bordersAndPaddings"

.donations 
    position: relative
    grid-area: donations
    background-color: $main-comp-background-color
    border-radius: $main-comp-border-radius
    padding: $main-comp-padding
    min-height: 50px;